{% load tags %}
<div class="proste-ucilnice-wrapper" style="{{ termin.style }}">
  <div class="proste-ucilnice-container" style="background-color: hsl({{ termin.hue }}, 100%, 95%);">
    <span class="proste-ucilnice-list ucilnice-list">
      {# proste učilnice #}
      {% for stanje, ucilnica, razlog in termin.prikazane_ucilnice %}
        <span class="ucilnica ucilnica-id-{{ ucilnica.pk }} ucilnica-stanje-{{ stanje }}">
          <span class="ucilnica-ime">
            <a href="{% url 'urnik_ucilnice' ucilnica.pk %}">
              {{ ucilnica.kratko_ime }}</a></span>{% if not forloop.last %},{% endif %}
          <span class="hover-area"></span>
          <span class="ucilnica-tooltip">
            {% if stanje == 'prosta' %}
              <a href="{% url 'urnik_ucilnice' ucilnica.pk %}">Učilnica {{ ucilnica.oznaka }}</a>
              je prosta v {{ termin.dan|dan_tozilnik }} ob {{ termin.ura }}ih.
              <a href="{% url 'nova_rezervacija_za_ucilnico' ucilnica.pk termin.ura teden|date:"Y-m-d" termin.dan %}" target="_blank" class="nobr">
                Rezerviraj <i class="material-icons">open_in_new</i></a>
            {% elif stanje == 'rezervirana' %}
              <a href="{% url 'urnik_ucilnice' ucilnica.pk %}">Učilnico {{ ucilnica.oznaka }}</a>
              je od {{ razlog.od }}ih do {{ razlog.do }}ih rezervirala oseba
              {% if razlog.osebe.all.0 %}
                <a href="{% url 'urnik_osebe' razlog.osebe.all.0.pk %}">{{ razlog.osebe.all.0 }}</a>
              {% else %}
                neznan
              {% endif %}
              z razlogom: &quot;{{ razlog.opomba|default:"neznan" }}&quot;.
            {% elif stanje == 'zasedena' %}
              <a href="{% url 'urnik_ucilnice' ucilnica.pk %}">Učilnica {{ ucilnica.oznaka }}</a>
              je zasedena v {{ razlog.dan | dan_tozilnik }} ob {{ razlog.ura }}ih
              saj tam poteka predmet <a href="{% url 'urnik_predmeta' razlog.predmet.pk %}">
              &quot;{{ razlog.predmet }}&quot;</a>, ki ga izvaja
              {% if razlog.ucitelji.all.0 %}
                <a href="{% url 'urnik_osebe' razlog.ucitelji.all.0.pk %}">{{ razlog.ucitelji.all.0 }}</a>.
              {% else %}
                neznana oseba.
              {% endif %}
            {% endif %}
          </span>
        </span>
      {% empty %}
        /
      {% endfor %}
    </span>
  </div>
</div>
