<div class="termin {{ termin.zasedenost }}" style="{{ termin.style }}">
    <div class="izbira_ucilnice">
    {% for ucilnica in termin.ucilnice %}
        <form method="post" class="izbrana_ucilnica {{ ucilnica.zasedenost }} {{ ucilnica.ustreznost }}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="hidden" name="dan" value="{{ termin.dan }}">
            <input type="hidden" name="ura" value="{{ termin.ura }}">
            <input type="hidden" name="ucilnica" value="{{ ucilnica.id }}">
            <button>{{ ucilnica.oznaka }}<br><small>{{ ucilnica.velikost|default:'?' }}</small></button>
        </form>
    {% endfor %}
    </div>
</div>
