{% if nacin == 'urejanje' %}
    <div class="srecanje" style="{{ srecanje.style }};">
        <div class="predmet">
            {{srecanje.predmet.ime}} {{srecanje.tip}}{{srecanje.oznaka}}
        </div>
        {% if srecanje.ucitelj %}
        <div class="ucitelj">
            <a href="/oseba/{{srecanje.ucitelj.id}}/">
                {{srecanje.ucitelj.priimek}}
            </a>
        </div>
        {% endif %}
        <div class="ucilnica">
            <a href="/ucilnica/{{srecanje.ucilnica.id}}/">
                {{srecanje.ucilnica.oznaka}}
            </a>
        </div>
        <div class="urejanje">
            {% if srecanje.trajanje > 1 %}
            <form method="post" action="/srecanje/{{srecanje.id}}/trajanje/">
                <input type="hidden" name="next" value="{{next}}">
                <input type="hidden" name="trajanje" value="{{srecanje.trajanje|add:-1}}">
                <button>
                    <i class="tiny material-icons">file_upload</i> skrajšaj
                </button>
            </form>
            {% endif %}
            {% if nacin == 'urejanje' and srecanje.lahko_podaljsam %}
            <form method="post" action="/srecanje/{{srecanje.id}}/trajanje/">
                <input type="hidden" name="next" value="{{next}}">
                <input type="hidden" name="trajanje" value="{{srecanje.trajanje|add:1}}">
                <button>
                    <i class="tiny material-icons">file_download</i> podaljšaj
                </button>
            </form>
            {% endif %}
            <a href="/admin/urnik/srecanje/{{srecanje.id}}/delete/?next={{next}}">
                <i class="tiny material-icons">delete</i> pobriši
            </a>
            <form method="post" action="/srecanje/{{srecanje.id}}/podvoji/">
                <button>
                    <i class="tiny material-icons">content_copy</i> podvoji
                </button>
            </form>
            <a href="/srecanje/{{srecanje.id}}/premakni/">
                <i class="tiny material-icons">open_with</i> premakni
            </a>
            <form method="post" action="/srecanje/{{srecanje.id}}/odlozi/">
                <button>
                    <i class="tiny material-icons">move_to_inbox</i> odloži
                </button>
            </form>
            <a href="/admin/urnik/srecanje/{{srecanje.id}}/change/?next={{next}}">
                <i class="tiny material-icons">edit</i> uredi
            </a>
        </div>
    </div>
{% elif nacin == 'odlozisce' %}

    <div class="srecanje">
        <div class="predmet">
            {{srecanje.predmet.ime}} {{srecanje.tip}}{{srecanje.oznaka}}
        </div>
        {% if srecanje.ucitelj %}
        <div class="ucitelj">
            <a href="/oseba/{{srecanje.ucitelj.id}}/">
                {{srecanje.ucitelj.priimek}}
            </a>
        </div>
        {% endif %}
        <div class="ucilnica">
            <a href="/ucilnica/{{srecanje.ucilnica.id}}/">
                {{srecanje.ucilnica.oznaka}}
            </a>
        </div>
        <div class="urejanje">
            {% if nacin == 'urejanje' and srecanje.trajanje > 1 %}
            <form method="post" action="/srecanje/{{srecanje.id}}/trajanje/">
                <input type="hidden" name="next" value="{{next}}">
                <input type="hidden" name="trajanje" value="{{srecanje.trajanje|add:-1}}">
                <button>
                    <i class="tiny material-icons">file_upload</i> skrajšaj
                </button>
            </form>
            {% endif %}
            {% if nacin == 'urejanje' and srecanje.lahko_podaljsam %}
            <form method="post" action="/srecanje/{{srecanje.id}}/trajanje/">
                <input type="hidden" name="next" value="{{next}}">
                <input type="hidden" name="trajanje" value="{{srecanje.trajanje|add:1}}">
                <button>
                    <i class="tiny material-icons">file_download</i> podaljšaj
                </button>
            </form>
            {% endif %}
            <form method="post" action="/admin/urnik/srecanje/{{srecanje.id}}/delete/?next={{next}}">
                <button>
                    <i class="tiny material-icons">delete</i> pobriši
                </button>
            </form>
            <form method="post" action="/srecanje/{{srecanje.id}}/podvoji/">
                <button>
                    <i class="tiny material-icons">content_copy</i> podvoji
                </button>
            </form>
            <a href="/srecanje/{{srecanje.id}}/premakni/">
                <i class="tiny material-icons">open_with</i> premakni
            </a>
            <a href="/admin/urnik/srecanje/{{srecanje.id}}/change/?next={{next}}">
                <i class="tiny material-icons">edit</i>
            </a>
        </div>
    </div>

{% elif nacin == 'ogled' %}
<div class="srecanje" style="{{ srecanje.style }};">
    <div class="predmet">
        <a href="/predmet/{{srecanje.predmet.id}}/">{{srecanje.po_potrebi_okrajsano_ime_predmeta}}</a>
        <span class="tip">
             {{srecanje.tip}}{{srecanje.oznaka}}
        </span>
    </div>
    {% if srecanje.ucitelj %}
    <div class="ucitelj">
        <a href="/oseba/{{srecanje.ucitelj.id}}/">{{srecanje.ucitelj.priimek}}</a>
    </div>
    {% endif %}
    {% if srecanje.sirina >= 0.5 %}
    <div class="ucilnica">
        <a href="/ucilnica/{{srecanje.ucilnica.id}}/">{{srecanje.ucilnica.oznaka}}</a>
    </div>
    {% endif %}
</div>
{% endif %}