{% extends 'osnova.html' %}
{% block content %}
  <div class="container">

    <p class="flow-text">
      Aplikacija za urnik je nenehno v delu in veseli smo vseh konstruktivnih mnenj in poročil o napakah.
      Preberite si, kako se obnašati glede na napako, na katero ste naleteli.
    </p>

    <h4>Kritična napaka</h4>
    <p>
      Če ste naleteli na napako, ki onemogoča osnovno funkcionalnost urnika (npr. na urniku ni predmetov, stran se
      sesuje pri nalaganju, &hellip;) prosimo, pišite na
      <a href="mailto:matija.pretnar@fmf.uni-lj.si">matija.pretnar@fmf.uni-lj.si</a>.
      Napako se bomo potrudili čimprej odpraviti. Prosimo, da podrobno opišete, kaj ste na strani počeli, kaj ste
      pričakovali, da naj bi se zgodilo in kaj se je zgodilo. Če je možno, vključite sliko zaslona in skopirajte tekst
      morebitne napake ter povejte, kako naj napako ponovimo, saj jo bomo tako lažje in hitreje odpravili.
    </p>

    <h4>Napaka v delovanju strani</h4>
    <p>
      Če ste naleteli na tehnično nepravilnost na strani (npr. prekrivanje podatkov, slaba berljivost,
      ne morete klikniti na kakšen gumb, rezervacije se narobe sortirajo, &hellip;) prosim oprite
      <a href="https://github.com/ul-fmf/urnik/issues">issue na GitHub-u</a>.
      <b>Pred odpiranjem novega issue-a prosimo preverite, da ni ta napaka že zabeležena.</b>
      V primeru, da napaka že obstaja, lahko kot komentar dodate dodaten opis problema, če se vam zdi,
      da še ni dovolj dobro opisan, ali pa predlagate rešitev. Če pa vaš problem še ni zabeležen,
      kar pogumno odprite nov issue in kot v primeru kritične napake podrobno opišite, kaj ste na strani počeli, kaj ste
      pričakovali, da naj bi se zgodilo in kaj se je zgodilo. Če je možno, vključite sliko zaslona ter povejte, kako
      naj napako ponovimo. V primeru, da issue-a na GitHubu ne znate odpreti, lahko pišete na
      <a href="mailto:matija.pretnar@fmf.uni-lj.si">matija.pretnar@fmf.uni-lj.si</a>, vendar pred tem vseeno preverite
      <a href="https://github.com/ul-fmf/urnik/issues">seznam že znanih želja in napak</a>.

    </p>
    <h4>Napaka v podatkih na urniku</h4>
    <p>
      Če ste naleteli na vsebinsko napako (npr. vaše rezervacije ni na seznamu, predmeta, ki ga izvajate, ni na urniku,
      ali pa je v napačni učilnici/terminu, &hellip;) se obrnite na sestavljalca urnika (matematika: ??, fizika: ??)
      ali pa, v primeru rezervacij, na pripadajoči referat. Če ste študent, pišite izvajalcu predmeta,
      pri katerem je težava.
    </p>

    <h4>Želje za dodatno funkcionalnost</h4>
    <p>
      Želimo si, da bi bila aplikacija čim bolj uporabna, zato smo veseli novih predlogov s strani uporabnikov.
      Urnik <b>ne bo</b> podpiral:</p>
    <ul class="browser-default">
      <li>avtomatičnega ustvarjanja urnikov iz omejitev,</li>
      <li>urnikov, ki se znotraj semestra spreminjajo.</li>
    </ul>
    <p>
      Če imate predlog funkcionalnosti, ki bi za čim več ljudi izboljšala uporabnost urnika, lahko odprete
      <a href="https://github.com/ul-fmf/urnik/issues">issue na GitHub-u</a>. Pred tem prosim preverite
      <a href="https://github.com/ul-fmf/urnik/issues">seznam že znanih želja in napak</a>. Če vaša želja že obstaja,
      lahko kot komentar dodate, kako ste si vi to funkcionalnost predstavljali in kaj bi od nje želeli, če pa še ne
      obstaja pa odprite nov issue in opišite, kaj bi si želeli in zakaj bi to potrebovali.
      V primeru, da issue-a na GitHubu ne znate odpreti, lahko pišete na
      <a href="mailto:matija.pretnar@fmf.uni-lj.si">matija.pretnar@fmf.uni-lj.si</a>, vendar pred tem vseeno preverite
      <a href="https://github.com/ul-fmf/urnik/issues">seznam že znanih želja in napak</a>.
      Nove funkcionalnosti bodo implementirane ob priliki po vrstnem redu, ki si ga izberejo razvijalci.
      Seveda pa ste vsi vabljeni, da vašo želeno funkcionalnost ob dogovoru z razvijalci implementirate tudi sami,
      tako da forkate repozitorij in naredite pull request. Pri tem so vam lahko v pomoč
      <a href="https://github.com/ul-fmf/urnik#navodila-za-razvijalce">navodila za razvijalce.</a>
    </p>
  </div>
{% endblock content %}
