{% extends 'osnova.html' %}
{% block content %}
  <div class="container">
    <p class="flow-text">
      Na tej strani so navodila za uporabo nekaterih bolj zapletenih delov urnika.
    </p>

    <h5>Dostop do urnikov posameznih oseb</h5>
    Za dostop do urnikov posameznih oseb uporabite iskalnik. Stran z vašim osebnim urnikom si lahko dodate tudi
    med zaznamke.

    <h5>Uporaba iskalnika</h5>
    Da bi začeli iskati, kliknite v naslovno vrstico desno od ikone za iskanje
    <code><i class="material-icons left">search</i> Išči...</code> ali pa pritisnite
    tipko <code>/</code> ali <code>f</code> na tipkovnici.

    Vpišite začetek imena ali priimka osebe, oznake učilnice ali smeri. Prikazal se bo seznam rezultatov
    (max. 10 vnosov), po katerem se lahko premikate s puščicama gor in dol in izbiro potrdite s tipko
    <code>Enter</code>. S tipko <code>Esc</code> ali klikom na križec
    prekličete trenutno iskanje. Če iskanega rezulata ni med naštetimi, napišite manj specifično poizvedbo, ali
    pa sporočite <a href="{% url 'bugreport' %}">tehnično napako</a>.

    <h5>Kombiniran pogled na urnik</h5>
    Za vpogled v kombinirane urnike, ki niso direktno dostopni prek iskalnika, v meniju ali na prvi strani izberite <code><i class="material-icons left">schedule</i>Kombiniran pogled</code>. Odkljukajte kombinacijo
    oseb, učilnic in smeri, ki si jo želite ogledati hkrati in kliknite na
    <code><i class="material-icons left">done_all</i>Prikaži kombiniran urnik</code>.

    <h5>Tiskanje</h5>
    <p>
      Ko ste na strani z urnikom, ki ga želite natisniti, pritisnite <code>Ctrl+P</code> ali v meniju izberite
      <code><i class="material-icons left">print</i> Natisni stran</code>. Str&aacute;ni se ob tiskanju samodejno
      spremeni izgled, da je prijazna tiskalniku, kar lahko vidite tudi na predogledu tiskanja.
      Če želite lahko v nastavitvah brskalnika vključite tudi tiskanje ozadij. Če se urnik morda ne natisne eno
      stran, prosimo sporočite <a href="{% url 'bugreport' %}">tehnično napako</a>.
    </p>

    <h5>Iskanje prostih učilnic</h5>
    Pojdite na <a href="{% url 'proste' %}">stran za iskanje prostih učilnic</a>. Ta prikaže proste učilnice
    za vsak termin v splošnem tednu znotraj trenutnega semestra. Zeleni termini imajo vsaj eno prosto učilnico,
    rdeči pa nimajo nobene. Če na desni izberete konkreten teden, se pri izračunu prostih
    učilnic upoštevajo tudi rezervacije. Če je prikazanih učilnic zelo veliko, lahko učilnice
    filtrirate po tipu in po velikosti. Kot dodatne možnosti lahko vklopite tudi prikaz zasedenih
    (tj. notri poteka nek predmet) ali rezerviranih predavalnic. V tem primeru ob prehodu miške čez posamezno
    učilnico vidite tudi razlog za zasedenost.

    <h5>Razno</h5>
    Če imate težavo z uporabo kakšnega dela urnika, jo poskusite najprej rešiti sami ali vprašajte kolega,
    če pa ste izčrpali vse možnosti, pišite na <a href="mailto:matija.pretnar@fmf.uni-lj.si">
    matija.pretnar@fmf.uni-lj.si</a>. Če pa ste imeli težavo in si želite, da bi bila opisana tukaj, pošljte opis
    problema in navodila, pa bomo dopolnili ta seznam.
  </div>
{% endblock content %}
