{% extends 'osnova.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <p class="flow-text">
      Na tej strani so navodila za uporabo nekaterih bolj zapletenih delov urnika.
    </p>

    <h5>Dostop do urnikov posameznih oseb</h5>
    <p>Za dostop do urnikov posameznih oseb uporabite iskalnik. Stran z vašim osebnim urnikom si lahko dodate tudi
    med zaznamke.</p>

    <h5>Uporaba iskalnika</h5>
    <p>Da bi začeli iskati, kliknite v naslovno vrstico desno od ikone za iskanje
    <code><i class="material-icons left">search</i> Išči...</code> ali pa pritisnite
    tipko <code>/</code> ali <code>f</code> na tipkovnici.</p>

    <p>Vpišite začetek imena ali priimka osebe, oznake učilnice ali smeri. Prikazal se bo seznam rezultatov
    (max. 10 vnosov), po katerem se lahko premikate s puščicama gor in dol in izbiro potrdite s tipko
    <code>Enter</code>. S tipko <code>Esc</code> ali klikom na križec
    prekličete trenutno iskanje. Če iskanega rezulata ni med naštetimi, napišite manj specifično poizvedbo, ali
      pa sporočite <a href="{% url 'bugreport' %}">tehnično napako</a>.</p>

    <h5>Kombiniran pogled na urnik</h5>
    Če želite hkrati pogledati urnike za več oseb, učilnic in smeri, v meniju ali na prvi strani izberite <code><i class="material-icons left">schedule</i>Kombiniran pogled</code>. Odkljukajte kombinacijo, ki si jo želite ogledati in kliknite na
    <code>Prikaži kombiniran pogled</code>.

    <h5>Tiskanje</h5>
    <p>
      Ko ste na strani z urnikom, ki ga želite natisniti, pritisnite <code>Ctrl+P</code> ali v meniju izberite
      <code><i class="material-icons left">print</i> Natisni stran</code>. Str&aacute;ni se ob tiskanju samodejno
      spremeni videz, da je prijazna tiskalniku, kar lahko vidite tudi na predogledu tiskanja.
      Če želite, lahko v nastavitvah brskalnika vključite tudi tiskanje ozadij. Če se urnik morda ne natisne na eno
      stran, prosimo sporočite <a href="{% url 'bugreport' %}">tehnično napako</a>.
    </p>

    <h5 id="proste-ucilnice">Iskanje prostih učilnic</h5>
    <p>Za iskanje prostih učilnic je namenjen <a href="{% url 'proste' %}">iskalnik prostih učilnic</a>.
    Ko pridete na stran, prikaže proste učilnice za vsak termin v splošnem tednu znotraj trenutnega semestra.
    Če na desni izberete konkreten teden, se pri izračunu prostih učilnic upoštevajo tudi rezervacije.
      Zeleni termini imajo vsaj eno prosto učilnico, rdeči pa nimajo nobene.</p>

    <dl>
      <dt>Omejevanje učilnic:</dt>
      <dd>
        Prikazanih učilnic je zelo veliko, pogosto pa vas zanima le nekaj učilnic.
        Učilnice omejite po tipu in po velikosti. Odkljukajte kvadratek pred želenimi učilnicami in
        kliknite gumb <code><i class="material-icons right">filter_list</i> Omeji</code>.
        Za rezervacije kolokvijev so najbolj uporabne velike matematične ali fizikalne učilnice.
      </dd>
      <dt>Prikaz zasedenih učilnic:</dt>
      <dd>
        Kot dodatne možnosti lahko vklopite tudi prikaz zasedenih predavalnic.
        V tem primeru ob prehodu miške čez posamezno učilnico vidite tudi razlog za zasedenost.
      </dd>
      <dt>Primer uporabe: </dt>
      <dd>
        Denimo, da želimo rezervirati učilnico za izpit iz predmeta X. Rezervirati jo želimo v tednu
        od 5. do 11. marca in potrebujemo vsaj 50 mest. Na stranskem meniju izberemo teden 22. &ndash; 28. januar.
        Odkljukamo, da želimo veliko matematično učilnico in pritisnemo
        <code><i class="material-icons right">filter_list</i> Omeji</code>.

        Za rezultat dobimo nekaj podobnega temu na sliki spodaj:
        <img src="{% static 'primer-prostih-ucilnic.png' %}" alt="primer uporabe"
             style="width: 100%; margin-top: 20px;">

        Vidimo, da so nekateri termini že popolnoma zasedeni in so obarvani rdeče.
        V vseh ostalih terminih je prosta vsaj ena učilnica. Z miško lahko preverimo, zakaj je npr. zasedena 2.01
        v ponedeljek ob 12ih, tako da se zapeljemo čeznjo. V petek je dopoldne je prosta samo še učilnica 2.05.
        Ko si izberemo termin, ga sporočimo v referat in prosimo za rezervacijo.
      </dd>
    </dl>

    <h5 id="rezervacije">Rezervacije</h5>
    <p>Na strani <code><i class="material-icons left">border_color</i>Rezervacije učilnic</code>
    je na vojo seznam rezervacij po tednih. Nekatere rezervacije imajo pred sabo znak
      <i class="material-icons grey-text">help</i>, kar pomeni, da še niso bile potrjene s strani referata.</p>

    <p>Uporabniki, ki imate fakultetni poštni naslov (npr. <code>ime.priimek@fmf.uni-lj.si</code>),
      se lahko z njim prijavite v urnik preko povezave <code>Prijava</code> na prvi strani. Po vpisu se tam pojavi
      vaše ime, s klikom na katerega se lahko tudi odjavite. S prijavo dobite pravico ustvarjanja novih rezervacij.
      Najlažji način je, da na <a href="{% url 'proste' %}">iskalniku prostih učilnic</a>
      izberete teden, v katerem želite narediti rezervacijo, greste z miško čez učilnico v izbranem terminu
      in kliknete na povezavo <code>Rezerviraj <i class="material-icons right">open_in_new</i></code>. Če povezave ne
      vidite, niste prijavljeni.</p>

    <p>Preusmerjeni boste na obrazec za novo rezervacijo, do katerega lahko dostopate tudi prek menija
      z izbiro <code><i class="material-icons left">assignment</i> Nova rezervacija</code>. Obrazec je
      že večinoma izpolnjen, dopisati pa morate razlog rezervacije. Spremenite lahko tudi
      ostale podatke in s klikom na gumb <code>Rezerviraj</code> naredite rezervacijo. Če ni bilo konfliktov ali
      napak, se bo bo vaša rezervacija pojavila na seznamu vseh rezervacij kot nepotrjena rezervacija. V referatu
      jo bodo nato v roku približno enega dne pregledali in potrdili.
    </p>

    <p>Na obrazcu za novo rezervacijo imate možnost rezervirati več učilnic, tako da odkljukate kvadratke pred
      izbranimi učinicami. Izberete lahko tudi več oseb (privzeto ste sami lastnik rezervacije), lahko tudi naredite
      rezervacijo za nekoga drugega (referat bo še vedno vedel, da ste vi avtor, čeprav bo lastnik nekdo drug).
      Če v spustnem meniju oseb začnete tipkati priimek osebe, se bo meni sam premaknil navzdol, tako da ne
      rabite brskti po njem. Rezervacijo lahko naredite tudi za določene ure v nekem razponu dni, tako da vpišete dan
      konca. Če je dan konca prazen, je rezervacija narejena za en sam dan. Pri potrjevanju rezervacije sistem poišče
      konflikte z morebitnimi drugimi rezervacijami ali predmeti in vas na to opozori. Če so konflikti neprobematični
      (npr. rezervacija za kolokvij se pokriva s predmetom &ldquo;Kolokviji&rdquo;) lahko odkljukate, da
      se konfliktov zavedate, in vseeno rezervirate učilnico.
    </p>
    <p>Klub temu, da imate možnost, da rezervirate vse učilnice na celi fakulteti za celo leto, ne glede na prekrivanja,
      vas prosimo, da tega ne naredite in da rezervirate samo učilnice, ki jih potrebujete.</p>

    <h5>Razno</h5>
    <p>Če imate težavo z uporabo kakšnega dela urnika, jo poskusite najprej rešiti sami ali vprašajte kolega,
    če pa ste izčrpali vse možnosti, pišite na <a href="mailto:matija.pretnar@fmf.uni-lj.si">
    matija.pretnar@fmf.uni-lj.si</a>. Če pa ste imeli težavo in si želite, da bi bila opisana tukaj, pošljte opis
    problema in navodila, pa bomo dopolnili ta seznam.</p>
  </div>
{% endblock content %}
