{% extends 'osnova.html' %}
{% load tags %}
{% block content %}
<div class="container">
  <p class="flow-text">Izberite semester, za katerega si želite ogledati urnike:</p>
  <ul class="collection">
    {% for semester in semestri.reverse %}
    <li class="collection-item">
      {% if forloop.first %}
      <a href="{% url 'zacetna_stran' %}">{{ semester }}</a> &ndash; trenutni semester
      {% else %}
      <a href="{% url 'zacetna_stran' semester.pk %}">{{ semester }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
