{% extends 'osnova.html' %}
{% load tags %}
{% block content %}
<div class="container">

<p class="flow-text">
  Izberite semester, za katerega si želite ogledati urnike:
  <ul>
    {% for semester in semestri %}
    <li>
      {% if forloop.counter == semestri|length %}
      <a href="{% url 'zacetna_stran' %}">{{ semester }}</a> – trenutni semester
      {% else %}
      <a href="{% url 'zacetna_stran' semester.pk %}">{{ semester }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</p>
{% endblock content %}
