{% extends 'osnova.html' %}
{% block content %}

<form action="{% url 'kombiniran_pogled' semester_id=izbrani_semester_id %}" id="kombiniran-pogled-form">
<div class="container">
<div class="row">
  <div class="col m12">
    <p id="kombiniran-pogled-text">
      <input type="submit" value="Prikaži kombiniran pogled" class="btn">
      <span class="flow-text">Tukaj lahko pogledate urnike za več letnikov, učilnic, oseb ali predmetov hkrati.</span>
    </p>
  </div>
</div>
<div class="row">
  {% for letniki in stolpci_smeri %}
    <div class="col s6 m2">
      {% regroup letniki by smer as smeri_list %}
      {% for smer_l in smeri_list %}
        <table class="highlight">
          <thead>
          <tr>
            <th>{{ smer_l.grouper }}</th>
          </tr>
          </thead>
          <tbody>
          {% for letnik in smer_l.list %}
            <tr>
              <td>
                <label for="letnik-{{ letnik.id }}">
                  <input type="checkbox" name="letnik" value="{{ letnik.id }}" id="letnik-{{ letnik.id }}">
                  <span>{{ letnik.leto }}</span>
                </label>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>  <!-- smeri -->
  {% endfor %}
  <div class="col s6 m3">
    <table class="highlight">
      <thead>
      <tr>
        <th>Učilnica</th>
      </tr>
      </thead>
      <tbody>
      {% for ucilnica in ucilnice %}
        <tr>
          <td>
            <label for="ucilnica-{{ ucilnica.id }}">
              <input type="checkbox" name="ucilnica" value="{{ ucilnica.id }}" id="ucilnica-{{ ucilnica.id }}">
              <span>{{ ucilnica.oznaka }}</span>
            {% include "_kapaciteta_ucilnice.html" with ucilnica=ucilnica %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div> <!-- ucilnice -->
  <div class="col s12 m5">
    <table class="highlight select" id="osebe">
      <thead><tr><th>Oseba</th></tr></thead>
      <tbody><tr><td>{{ form.oseba }}</td></tr></tbody>
    </table>
    <br>
    <table class="highlight select" id="predmeti">
      <thead><tr><th>Predmet</th></tr></thead>
      <tbody><tr><td>{{ form.predmet }}</td></tr></tbody>
    </table>
    <br>
    <table class="highlight">
      <thead><tr><th>Kratka navodila</th></tr></thead>
      <tbody><tr><td>
        Za izbiro oseb lahko kliknete na spustni meni in začnete tipkati prve črke priimka. Izbiro lahko zamenjate s
        puščicami gor ali dol in potrdite s tipko Enter. Če želite izbrati še eno osebo, ponovno pritisnete
        Enter, izberete osebo in spet potrdite s tipko Enter. Predmete izbirate na enak način. Bolj podrobna
        navodila so na voljo na strani <a href="{% url 'help' %}">Navodila in pomoč</a>.
      </td></tr></tbody>
    </table>
  </div>
</div> <!-- row -->
</div> <!-- container -->
</form>
{% endblock content %}


{% block footer %}
  <script>
      $(document).ready(function () {
          $('select').formSelect({
              'dropdownOptions': {
                  'constrainWidth': true,
                  'coverTrigger': false,
              }
          });
          $('#osebe .select-dropdown').attr('placeholder', 'Izberite osebe');
          $('#predmeti .select-dropdown').attr('placeholder', 'Izberite predmete');
      });
  </script>
{% endblock %}
