{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Urnik FMF{% if naslov %} –  {{ naslov }}{% endif %} – {{ izbrani_semester.ime }}</title>
  <link rel="stylesheet" href="{% static 'stil.css' %}">
  <link rel="stylesheet" href="{% static 'print.css' %}" media="print">
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href={% static 'icons/apple-touch-icon.png' %}>
  <link rel="icon" type="image/png" sizes="32x32" href={% static 'icons/favicon-32x32.png' %}>
  <link rel="icon" type="image/png" sizes="16x16" href={% static 'icons/favicon-16x16.png' %}>
  <link rel="manifest" href={% static 'icons/manifest.json' %}>
  <link rel="mask-icon" href={% static 'icons/safari-pinned-tab.svg" color="#5bbad5' %}>
  <link rel="shortcut icon" href={% static 'icons/favicon.ico' %}>
  <meta name="msapplication-config" content={% static 'icons/browserconfig.xml' %}>
  <meta name="theme-color" content="#ffffff">
</head>

<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center" id="urnik-logo"> <!-- top centred logo: absolute -->
        <i class="large material-icons hide-on-med-and-down">schedule</i>
        {{ naslov|default:izbrani_semester.ime }}
      </a>

      <!-- left menu -->
      <a href="#" id="menu-button" data-activates="side-menu" class="button-collapse">
        <i class="material-icons">menu</i><span class="hide-on-med-and-down">Meni</span>
      </a>

      {% if user.is_authenticated %}
        <!-- right control panel  -->
        <ul class="right" id="admin-dropdown">
          <li>
            <a class="dropdown-button" href="#!" data-activates="user-dropdown">
              <i class="material-icons right" id="dropdown-arrow">arrow_drop_down</i>
              <span class="hide-on-small-and-down" id="user-name">{{ user.get_full_name|default:user.get_username }}</span>
              <i class="material-icons right" id="mode-indicator">{% if request.session.urejanje %}edit{% else %}visibility{% endif %}</i>
            </a>
          </li>
        </ul>
      {% endif %}

      <!-- middle search: Preserve the order: left, right first, then middle -->
      <div id="search-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Išči..." class="autocomplete" title="search">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </div> <!-- nav wrapper -->
    <ul id="user-dropdown" class="dropdown-content">
      <li class="disabled hide-on-med-and-up">
        <a href="#!"><i class="material-icons">person</i>{{ user.get_full_name|default:user.get_username }}</a>
      </li>
      <li class="divider hide-on-med-and-up"></li>
      <li><a href="{% url 'admin:index' %}"><i class="material-icons">settings</i>administracija</a></li>
      <li><a href="{% url 'preklopi_urejanje' %}">
        {% if request.session.urejanje %}
          <i class="material-icons">visibility</i>izklopi urejanje
        {% else %}
          <i class="material-icons">edit</i>vklopi urejanje
        {% endif %}
      </a></li>
      <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>odjavi me</a></li>
    </ul>
  </nav>
</div> <!-- navbar fixed -->
<ul class="side-nav" id="side-menu"> <!-- side navigation -->
  <li><a href="{% url 'zacetna_stran' %}"><i class="material-icons left">home</i>Urnik</a></li>
  <li><a href="{% url 'kombiniran_pogled_form' %}"><i class="material-icons left">schedule</i>Kombiniran pogled</a></li>
  <li><a href="{% url 'rezervacije' %}"><i class="material-icons left">border_color</i>Rezervacije učilnic</a></li>
  <li><a href="{% url 'proste' %}"><i class="material-icons left">event_available</i>Proste učilnice</a></li>
  <li><a href="javascript:window.print();"><i class="material-icons left">print</i>Natisni stran</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'printall' %}"><span class="tripple-icon side-icon">
      <i class="material-icons">print</i>
      <i class="material-icons">print</i>
      <i class="material-icons">print</i>
    </span>Natisni več hkrati</a></li>
  {% endif %}
  <li><a href="{% url 'bugreport' %}"><i class="material-icons left">bug_report</i>Prijava napake</a></li>
  <li><a href="{% url 'help' %}"><i class="material-icons left">help</i>Navodila in pomoč</a></li>
</ul> <!-- side nav -->

{% block content %}{% endblock content %}

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    var search_urls = {
        "Meni: Urnik" : "{% url 'zacetna_stran' %}",
        "Meni: Kombiniran pogled" : "{% url 'kombiniran_pogled_form' %}",
        "Meni: Rezervacije učilnic" : "{% url 'rezervacije' %}",
        "Meni: Proste učilnice" : "{% url 'proste' %}",
        "Meni: Natisni stran" : "javascript:window.print();",
        "Meni: Prijava napake" : "{% url 'bugreport' %}",
        "Meni: Navodila in pomoč" : "{% url 'help' %}",

        {% for letnik in letniki_search %}
            "{{ letnik }} ({{letnik.kratica}})": "{% url 'urnik_letnika' letnik.id %}",{% endfor %}
        {% for oseba in osebe_search %}
            "{{ oseba.ime }} {{ oseba.priimek }}": "{% url 'urnik_osebe' oseba.id %}",{%  endfor %}
        {% for ucilnica in ucilnice_search %}
            "Učilnica {{ ucilnica.oznaka }}": "{% url 'urnik_ucilnice' ucilnica.id %}",{% endfor %}
    };

    $(document).ready(function () {
        $(".dropdown-button").dropdown({
            constrainWidth: false,
            belowOrigin: true,
            inDuration: 300,
            outDuration: 100,
            alignment: "right"
        });
        $(".button-collapse").sideNav();

        var search_data = {};
        for (var term in search_urls) {
            search_data[term] = null;
        }
        var $search = $('#search');
        $search.autocomplete({
            data: search_data,
            limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
            onAutocomplete: function (val) {
                window.location = search_urls[val];
            }
        });
        $search.focus(function () {
            this.value = "";
        });
        $(document).keypress(function(event) {
            if (event.key === 'Escape') {
                $search.prop("value", "");
                $search.blur();
                return;
            }
            if (!$search.is(":focus") && (event.key === '/' || event.key === 'f')) {
                $search.focus();
            }
        });
    });
</script>

{% block footer %}{% endblock footer %}

</body>
</html>
