{% extends 'osnova.html' %}
{% load tags %}
{% block content %}
  <div class="container">
    <p>
      <span class="flow-text">Administratorski pregled rezervacij</span>
    </p>

    <ul class="tabs">
      <li class="tab col s3">
        <a {% if filter == 'all' %}class="active" {% endif %}target="_self"
           href="{% url_with_get filter='all' %}">Vse</a>
      </li>
      <li class="tab col s3">
        <a {% if filter == 'nepotrjene' %}class="active" {% endif %}target="_self"
           href="{% url_with_get filter='nepotrjene' %}">Nepotrjene</a>
      </li>
    </ul>


    {% if not entries %}
      <p>Trenutno ni nepotrjenih rezervacij.</p>
    {% else %}

      <table id="nepotrjene-rezervacije">
        <thead>
        <tr>
          <th>
            <form action="{% url 'potrdi_vse_rezervacije' %}" method="post"
                  onsubmit="return window.confirm('Ste prepričani, da želite potrditi VSE rezervacije?');">
              {% csrf_token %}
              <input type="submit" value="Potrdi vse" name="confirm" class="btn">
              <input type="hidden" value="{% url_with_get %}" name="redirect">
            </form>
          </th>
          <th>Status</th>
          <th style="width: 100px;">Datum</th>
          <th style="width: 70px;">Od&ndash;do</th>
          <th style="width: 200px;">Osebe</th>
          <th>Učilnice</th>
          <th>Razlog</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for e in entries %}
          {% with r=e.rezervacija %}
            <tr>
              <td>
                {% if not r.potrjena %}
                  <form action="{% url 'potrdi_rezervacijo' %}" method="post">
                    <a href="{% url 'admin:urnik_rezervacija_change' r.pk %}"><i class="material-icons">edit</i></a>
                    {% csrf_token %}
                    <input type="hidden" name="r-pk" value="{{ r.pk }}">
                    <input type="hidden" value="{% url_with_get %}" name="redirect">
                    <input type="submit" value="Potrdi" name="confirm" class="btn">
                  </form>
                {% else %}
                  <a href="{% url 'admin:urnik_rezervacija_change' r.pk %}"><i class="material-icons">edit</i></a>
                  Že potrjena.
                {% endif %}
              </td>
              <td>
                {% if e.konflikti %}
                  <i class="material-icons orange-text">warning</i>
                  <span class="st-konfliktov">({{ e.st_konfliktov }})</span>
                {% else %}
                  <i class="material-icons green-text">check</i>
                {% endif %}
              </td>
              <td>
                {% if r.dan_konca %}
                  {{ r.dan|date:"D, j. b" }} &ndash; {{ r.dan_konca|date:"D, j. b" }}
                {% else %}
                  {{ r.dan|date:"D, j. b" }}
                {% endif %}
              </td>
              <td>{{ r.od }}&ndash;{{ r.do }}</td>
              <td>
                {% for o in r.osebe.all %}
                  <a href="{% url 'urnik_osebe' o.pk %}">{{ o }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
              <td>
                {% for u in r.ucilnice.all %}
                  <a href="{% url 'urnik_ucilnice' u.pk %}">{{ u }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
              <td>{{ r.opomba }}
                {{ k }}
              </td>
              <td>
                <form action="{% url 'izbrisi_rezervacijo' %}" method="post"
                      onsubmit="return window.confirm('Ste prepričani, da želite izbrisati to ' +
                          'rezervacijo?\nV primeru izbrisa bi bilo dobro obvestiti osebe: {{ r.osebe.all|join:", " }}.');">
                  {% csrf_token %}
                  <input type="hidden" name="r-pk" value="{{ r.pk }}">
                  <input type="hidden" value="{% url_with_get %}" name="redirect">
                  <input type="submit" value="Izbriši" name="confirm" class="btn cancel">
                </form>
              </td>
            </tr>
            {% if e.konflikti %}
              <tr class="konflikti">
                <td colspan="42"><!-- large enough :) -->
                  <dl>
                    {% for u, d, konflikti in e.konflikti %}
                      <dt>Konflikti za učilnico {{ u }} dne {{ d|date:"D, j. b" }}:</dt>
                      <dd>
                        <ul>
                          {% for rez in konflikti.rezervacije %}
                            <li>
                              Rezervacija
                              {% if not rez.osebe %}
                                neznane osebe
                              {% elif rez.osebe.all|length_is:1 %}
                                osebe {{ rez.osebe.all.0 }}
                              {% else %}
                                oseb {{ rez.osebe.all|join:", " }}
                              {% endif %}
                              od {{ rez.od }} do {{ rez.do }}
                              z razlogom &raquo;{{ rez.opomba }}&laquo;.
                            </li>
                          {% endfor %}
                          {% for s in konflikti.srecanja %}
                            <li>
                              V {{ s.ucilnica }} poteka predmet
                              {{ s.predmet }}
                              od {{ s.od }} do {{ s.do }}.
                            </li>
                          {% endfor %}
                        </ul>
                      </dd>
                    {% endfor %}
                  </dl>
                </td>
              </tr>
            {% endif %}
          {% endwith %}
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}