<!DOCTYPE html>
<html>
<head>
  <title>Natisni vse</title>
  <style>
    * { margin: 0; padding: 0; }
    .navodila {
      margin: 10px;
      width: 500px;
    }
    iframe { border: 0; }
    @media print {
      @page {
        size: A4 landscape;
        margin: 0mm;
      }
      .navodila { display: none; }
      iframe { page-break-after: always; }
    }
  </style>
</head>
<body>
<p class="navodila">
  <b>Počakajte, da se stran naloži do konca! Preverite vse urnike, če so se naložili brez napak.</b><br>
  <b>Stran se bo natisnila drugače, kot zgleda sedaj.</b><br>
  Izgled preverite na predogledu tiskanja (print preview) v vašem brskalniku.
  Po potrebi lahko vključite tudi iskanje ozadij, sicer so bela.
</p>

{% for link in links %}
  <iframe src="{{ link }}" width="1200" height="843" onload="set_print(this)"></iframe>
{% endfor %}

<p class="navodila">To je konec strani.</p>

</body>
<script>
  function set_print(iframe) {
      var links = (iframe.contentDocument || iframe.contentWindow.document).getElementsByTagName("link");
      for (var j = 0; j < links.length; j++) {
          if (links[j].media === "print") {
              links[j].media = "all";
          }
      }
  }
</script>
</html>