{% extends 'urnik_osnova.html' %}
{% load tags %}

{% block urnik_content %}

<div id="urnik">
  {% dnevi %}
  {% ure %}
  <div class="poravnaj-na-termine">
    {% for termin in termini %}
      {% include '_proste_ucilnice_za_termin.html' %}
    {% endfor %}
  </div>
</div>

<div class='right-panel' id='proste-ucilnice-panel'>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Izberite teden
        <span class="right" style="font-size: 12px;">
          <a href="{% url 'help' %}#proste-ucilnice" style="color: inherit;" target="_blank">primer uporabe</a>
          <i class="material-icons right" style="font-size: 12px; margin-left: 5px;">open_in_new</i>
        </span>
      </span>
      Če želite videti terminske rezervacije, izberite teden.
      Če ni na izbiro, za ta teden še nihče ni naredil rezervacije.
    </div>
    <div class="card-action">
      {% include "_tedni_dropdown.html" with mozni_tedni=mozni_tedni izbran_teden=teden %}
    </div>
  </div>

  <div class="card">
    <form action="{% url 'proste_filter' semester_id=izbrani_semester_id %}" method="post">{% csrf_token %}
      <input type="hidden" name="qstring" value="{{ request.GET.urlencode }}">
      <div class="card-content">
        <span class="card-title">Omejite učilnice</span>
        Omejite izbiro na tipe učilnic, ki vam ustrezajo.
        <hr class="separator">
        {% for id, name in mozni_tipi_ucilnic %}
          <label for="{{ id }}">
            <input type="checkbox" id="{{ id }}" name="{{ id }}" {% if id in tipi %}checked{% endif %}>
            <span>{{ name }}</span>
          </label>
        {% endfor %}
        <hr class="separator">
        {% for id, name in mozne_velikosti_ucilnic %}
          <label for="{{ id }}">
            <input type="checkbox" id="{{ id }}" name="{{ id }}" {% if id in velikosti %}checked{% endif %}>
            <span>{{ name }}</span>
          </label>
        {% endfor %}
      </div>
      <div class="card-action">
        <button class="btn" type="submit" name="filtriraj-ucilnice" value="True">Omeji
          <i class="material-icons right" style="margin-right: -10px;">filter_list</i>
        </button>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Zasedene učilnice</span>
      Prikažite zasedene učilnice, če je izbran teden, pa tudi rezervirane.
      Obarvane so sivo.
    </div>
    <div class="card-action">
      <div class="switch-option">Pokaži zasedene:
        <span class="switch nobr"><label>Ne<a {# tukaj uporabimo onclick, da propagata JS evente naprej in takoj switchne switch #}
            onclick="window.location ='{% if pokazi_zasedene %}{% url_with_get pz="0" %}{% else %}{% url_with_get pz="1" %}{% endif %}';"
        ><input type="checkbox" {% if pokazi_zasedene %}checked{% endif %}><span class="lever"></span></a>Da</label></span>
      </div>
    </div>
  </div>
</div>

{% endblock urnik_content %}

{% block footer %}
  {{ block.super }}
  {% include "_tedni_dropdown_footer.html" %}
{% endblock %}
