{% extends 'osnova.html' %}
{% block content %}
<div class="container">

<p class="flow-text">
  Nove rezervacije najlažje naredite prek <a href="{% url 'proste' %}">iskalnika prostih učilnic</a>,
  lahko pa uporabite tudi obrazec za <a href="{% url 'nova_rezervacija' %}">novo rezervacijo</a>.
</p>

{% if not rezervacije %}
  <p>Trenutno ni aktivnih rezervacij.</p>
{% else %}
  {% regroup rezervacije by teden as rezervacije_po_tednih %}
  {% for teden in rezervacije_po_tednih %}
    <ul class="collapsible" data-collapsible="expandable" id="rezervacije-list">
      <li{% if forloop.counter <= 2 %} class="active"{% endif %}>
        <div class="collapsible-header">
          <h5>
            {{ teden.grouper.0|date:"j. F" }} – {{ teden.grouper.1|date:"j. F Y" }}
          </h5>
        </div>
        <div class="collapsible-body">
          <ul class="collection with-header">
            {% for rezervacija in teden.list %}
              {% ifchanged %}
                <li class="collection-header">
                  <strong>{{ rezervacija.dan|date:"l, j. F" }}</strong>
                </li>
              {% endifchanged %}
              <li class="collection-item">
                {% if not rezervacija.potrjena %}
                  <i class="material-icons grey-text left tooltipped"
                     data-position="left" data-tooltip="Še nepotrjena s strani referata"
                     title="Še nepotrjena s strani referata">help</i>
                {% endif %}
                <a href="{% url 'urnik_ucilnice' rezervacija.ucilnica.pk %}">{{ rezervacija.ucilnica }}</a>,
                {{ rezervacija.od }}–{{ rezervacija.do }},
                <small>
                  {% for oseba in rezervacija.osebe.all %}
                    <a href="{% url 'urnik_osebe' oseba.pk %}">{{ oseba }}</a>,
                  {% endfor %}
                  {{ rezervacija.opomba }}
                  {% if rezervacija.predmeti.all %}
                    ({% for predmet in rezervacija.predmeti.all %}<a href="{% url 'urnik_predmeta' p.id %}">{{ p.opisno_ime }}</a>{% if forloop.last %}){% else %}, {% endif %}{% endfor %}
                  {% endif %}
                </small>
                {% if user.is_staff and not rezervacija.potrjena and rezervacija.konflikti %}
                  <span class="right">({{ rezervacija.konflikti.st_konfliktov }})</span>
                  <i class="material-icons orange-text right">warning</i>
                {% endif %}
              </li>
              {% if user.is_staff and not rezervacija.potrjena and rezervacija.konflikti %}
                <li class="collection-item"><ul>
                  {% for rez in rezervacija.konflikti.rezervacije %}
                    <li><b>Konflikt:</b>
                      Učilnico {{ rezervacija.ucilnica }} je od {{ rez.od }} do {{ rez.do }}
                      rezervirala oseba {{ rez.osebe.all.0|default:"neznan" }}
                      z razlogom &raquo;{{ rez.opomba }}&laquo;.
                    </li>
                  {% endfor %}
                  {% for s in rezervacija.konflikti.srecanja %}
                    <li>
                      V učilnici {{ s.ucilnica }} od {{ s.od }} do {{ s.do }} poteka predmet {{ s.predmet }}.
                    </li>
                  {% endfor %}
                </ul></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  {% endfor %}
{% endif %}

</div>
{% endblock content %}
