{% extends 'osnova.html' %}
{% load tags %}
{% block content %}

{% if nacin == 'ogled' %}
<div id="urnik" class="cel">
    {% dnevi %}
    {% ure %}
    <div id="srecanja">
        {% for srecanje in srecanja %}
        {% include '_srecanje.html' with nacin='ogled' %}
        {% endfor %}
    </div>
</div>

{% elif nacin == 'urejanje' or nacin == 'premikanje' %}
<div id="urnik">
    {% dnevi %}
    {% ure %}
    <div id="srecanja">
        {% for srecanje in srecanja %}
        {% include '_srecanje.html' with nacin='urejanje' %}
        {% endfor %}
        {% for termin in prosti_termini.values %}
        {% include '_prosti_termin.html' %}
        {% endfor %}
    </div>
</div>
<div id='informacije'>
    {% if nacin == 'urejanje' %}
    <h5><i class="material-icons">inbox</i> Odložišče</h5>
    {% for srecanje in odlozena_srecanja %}
    {% include '_srecanje.html' with nacin='odlozisce' %}
    {% endfor %}
    {% include '_konflikti.html' %}

    {% elif nacin == 'premikanje' %}
    <h5><i class="material-icons">inbox</i> Premikanje srečanja</h5>
        {% include '_srecanje.html' with nacin='odlozisce' srecanje=premaknjeno_srecanje %}
    </div>
    {% endif %}
</div>

{% endif %}

{% endblock content %}
