{% extends 'urnik_osnova.html' %}
{% load tags %}
{% block content %}
  <div class="tedenski-pogled">
    <a class="btn{% if not izbran_teden %} disabled{% endif %}"
       href="{% if izbran_teden %}{% url_with_get teden=izbran_teden|plus_days:-7 %}{% else %}#{% endif %}"><i class="material-icons">navigate_before</i></a>
    {% include "_tedni_dropdown.html" with mozni_tedni=mozni_tedni izbran_teden=izbran_teden %}
    <a class="btn{% if not izbran_teden %} disabled{% endif %}"
       href="{% if izbran_teden %}{% url_with_get teden=izbran_teden|plus_days:7 %}{% else %}#{% endif %}"><i class="material-icons">navigate_next</i></a>
{#    {% now "Y-m-d" as danes %}#}
{#    <a class="btn" href="{% url_with_get teden=danes %}">Danes</a>#}
  </div>
  {{ block.super }}
{% endblock %}

{% block notification %}
  {{ block.super }}
  {% if teden_v_napacnem_semestru %}
    <div id="weird-week-note" class="card global-note">
      Trenuten teden je izven izbranega semestra. Izberite <a href="{% url 'izbira_semestra' %}">drug semester</a>
      ali pa izberite teden znoraj semestra.
      <i class="material-icons close-icon" onclick="$(this.parentNode).fadeOut(200);">close</i>
    </div>
  {% endif %}
{% endblock %}

{% block urnik_content %}
{% if nacin == 'ogled' %}
  <div id="urnik" class="{% if not legenda %}cel{% endif %}">
    {% dnevi %}
    {% ure %}
    <div id="srecanja" class="poravnaj-na-termine">
      {% for termin in termini %}
        {% include '_tedenski_termin.html' with nacin='ogled'%}
      {% endfor %}
    </div>
  </div>
  {% if legenda %}
    <div class='right-panel' id='informacije'>
      <ul class="collapsible" data-collapsible="expandable">
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">line_style</i>Legenda
          </div>
          <div class="collapsible-body">
            {% for el in legenda %}
              <div class="legenda srecanje ustrezna" style="{% pobarvaj forloop.counter0 %}">{{ el }}</div>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  {% endif %}

{% elif nacin == 'urejanje' or nacin == 'premikanje' %}
  <div id="urnik">
    {% dnevi %}
    {% ure %}
    <div id="srecanja" class="poravnaj-na-termine">
      {% for termin in termini %}
        {% include '_tedenski_termin.html' with nacin='urejanje' %}
      {% endfor %}
      {% for termin in prosti_termini.values %}
        {% include '_prosti_termin.html' %}
      {% endfor %}
    </div>
  </div>
  <div class='right-panel' id='informacije'>
    <ul class="collapsible" data-collapsible="expandable">
      {% if nacin == 'urejanje' %}
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">inbox</i>Odložišče
          </div>
          <div class="collapsible-body">
            {% for srecanje in odlozena_srecanja %}
              <div class="srecanje-absolute-box leftmost rightmost"><div class="srecanje">
                {% include '_srecanje.html' with nacin='odlozisce' srecanje=srecanje %}
              </div></div>
            {% endfor %}
          </div>
        </li>
        {% include '_prekrivanja.html' %}

      {% elif nacin == 'premikanje' %}
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">open_with</i> Premikanje srečanja
          </div>
          <div class="collapsible-body">
            <div class="srecanje-absolute-box leftmost rightmost"><div class="srecanje">
              {% include '_srecanje.html' with nacin='odlozisce' srecanje=premaknjeno_srecanje %}
            </div></div>
            <form method="post" action="{% url 'odlozi_srecanje' premaknjeno_srecanje.id %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              <a class="btn" style="width: 48%" href="{{ next }}">
                <i class="small material-icons">cancel</i>
              </a>
              <button class="btn" style="width: 48%">
                <i class="material-icons">move_to_inbox</i>
              </button>
            </form>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">line_style</i>Legenda terminov
          </div>
          <div class="collapsible-body">
            <div class="legenda srecanje prosto">proste ustrezne učilnice</div>
            <div class="legenda srecanje proste_le_alternative">deloma proste ustrezne učilnice &amp; proste
              kompromisne učilnice
            </div>
            <div class="legenda srecanje deloma">deloma proste ustrezne učilnice &amp; brez kompromisnih učilnic</div>
            <div class="legenda srecanje proste_alternative">brez ustreznih učilnic &amp; proste kompromisne
              učilnice
            </div>
            <div class="legenda srecanje deloma_proste_alternative">brez ustreznih učilnic &amp; deloma proste
              kompromisne učilnice
            </div>
            <div class="legenda srecanje zaseden">brez kakršnihkoli učilnic</div>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">line_style</i>Legenda učilnic
          </div>
          <div class="collapsible-body">
            <div class="legenda srecanje ustrezna prosta">prosta ustrezna učilnica</div>
            <div class="legenda srecanje ustrezna deloma_prosta">deloma prosta ustrezna učilnica</div>
            <div class="legenda srecanje alternativa prosta">prosta alternativna učilnica</div>
            <div class="legenda srecanje alternativa deloma_prosta">deloma prosta alternativna učilnica</div>
            <div class="legenda srecanje alternativa zasedena">zasedena učilnica</div>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}

{% endblock urnik_content %}

{% block footer %}
  {{ block.super }}
  {% include "_tedni_dropdown_footer.html" %}
{% endblock %}
