{% extends 'osnova.html' %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col m3 hide-on-small-and-down">
    <table id="firstpage-menu">
      <thead>
      <tr>
        <th>Hitre povezave</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <ul>
            <li><a href="{% url 'kombiniran_pogled_form' %}"><i class="material-icons left">schedule</i>Kombiniran pogled</a></li>
            <li><a href="{% url 'rezervacije' %}"><i class="material-icons left">border_color</i>Rezervacije učilnic</a></li>
            <li><a href="{% url 'proste' %}"><i class="material-icons left">event_available</i>Proste učilnice</a></li>
            <li><a href="{% url 'bugreport' %}"><i class="material-icons left">bug_report</i>Prijava napake</a></li>
            <li><a href="{% url 'help' %}"><i class="material-icons left">help</i>Navodila in pomoč</a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  {% for letniki in stolpci_smeri %}
    <div class="col s6 m3">
      {% regroup letniki by smer as smeri_list %}
      {% for smer_l in smeri_list %}
        <table class="highlight">
          <thead>
          <tr>
            <th>{{ smer_l.grouper }}</th>
          </tr>
          </thead>
          <tbody>
          {% for letnik in smer_l.list %}
            <tr>
              <td class="padded">
                  <a href="{% url 'urnik_letnika' letnik.id %}">{{ letnik.leto }}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>  <!-- smeri -->
  {% endfor %}
  <div class="col s6 m3">
    <table class="highlight">
      <thead>
      <tr>
        <th>Učilnica</th>
      </tr>
      </thead>
      <tbody>
      {% for ucilnica in ucilnice %}
        <tr>
          <td class="padded">
            <a href="{% url 'urnik_ucilnice' ucilnica.id %}">{{ ucilnica.oznaka }}</a>
            <small>
              {% if ucilnica.tip == ucilnica.RACUNALNISKA %}
                <i class="tiny material-icons">computer</i>
              {% elif ucilnica.tip == ucilnica.PRAKTIKUM %}
                <i class="tiny material-icons">build</i>
              {% endif %}
              ({{ ucilnica.velikost|default:'?' }} mest)
            </small>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div> <!-- ucilnice -->
</div> <!-- row -->
</div> <!-- container -->

{% endblock content %}
