{% extends 'osnova.html' %}
{% block content %}

<form action="{% url 'sestavljen_urnik' %}">
<div class="container">
<div class="row">
  <div class="col m3 hide-on-small-and-down">
    <table id="firstpage-menu">
      <thead>
      <tr>
        <th>Hitre povezave</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <ul>
            {% if izbira %}
              <li><button id="prikazi-sestavljen-urnik"><i class="material-icons left">done_all</i>Prikaži sestavljen urnik</button></li>
            {% else %}
              <li><a href="{% url 'zacetna_stran' %}?izbira"><i class="material-icons left">schedule</i>Sestavljen urnik</a></li>
            {% endif %}
            <li><a href="{% url 'rezervacije' %}"><i class="material-icons left">border_color</i>Rezervacije učilnic</a>
            </li>
            <li><a href="#"><i class="material-icons left">event_available</i>Proste učilnice</a></li>
            <li><a href="#"><i class="material-icons left">bug_report</i>Prijavi napako</a></li>
            <li><a href="#"><i class="material-icons left">help</i>Navodila in pomoč</a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  {% for letniki in stolpci_smeri %}
    <div class="col s6 m3">
      {% regroup letniki by smer as smeri_list %}
      {% for smer_l in smeri_list %}
        <table class="highlight">
          <thead>
          <tr>
            <th>{{ smer_l.grouper }}</th>
          </tr>
          </thead>
          <tbody>
          {% for letnik in smer_l.list %}
            <tr>
              <td class="padded">
                {% if izbira %}
                  <input type="checkbox" name="letnik" value="{{ letnik.id }}" id="letnik-{{ letnik.id }}"/>
                  <label for="letnik-{{ letnik.id }}">{{ letnik.leto }}</label>
                {% else %}
                  <a href="{% url 'urnik_letnika' letnik.id %}">{{ letnik.leto }}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>  <!-- smeri -->
  {% endfor %}
  <div class="col s6 m3">
    <table class="highlight">
      <thead>
      <tr>
        <th>Učilnica</th>
      </tr>
      </thead>
      <tbody>
      {% for ucilnica in ucilnice %}
        <tr>
          <td class="padded">
            {% if izbira %}
              <input type="checkbox" name="ucilnica" value="{{ ucilnica.id }}" id="ucilnica-{{ ucilnica.id }}"/>
              <label for="ucilnica-{{ ucilnica.id }}">{{ ucilnica.oznaka }}</label>
            {% else %}
              <a href="{% url 'urnik_ucilnice' ucilnica.id %}">{{ ucilnica.oznaka }}</a>
            {% endif %}
            <small>
              {% if ucilnica.tip == ucilnica.RACUNALNISKA %}
                <i class="tiny material-icons">computer</i>
              {% elif ucilnica.tip == ucilnica.PRAKTIKUM %}
                <i class="tiny material-icons">build</i>
              {% endif %}
              ({{ ucilnica.velikost|default:'?' }} mest)
            </small>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div> <!-- ucilnice -->
{#  <div class="col s6 m4">#}
{#    <table class="highlight">#}
{#      <thead>#}
{#      <tr>#}
{#        <th>Oseba#}
{#          {% if not izbira %}#}
{#            <div id="search-osebe-wrapper">#}
{#              <input type="text" id="search-osebe" class="autocomplete" title="search"><i class="material-icons">search</i>#}
{#            </div>#}
{#          {% endif %}#}
{#        </th>#}
{#      </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#      {% for oseba in osebe %}#}
{#        <tr>#}
{#          <td class="padded">#}
{#            {% if izbira %}#}
{#              <input type="checkbox" name="oseba" autocomplete="off" value="{{ oseba.id }}" id="oseba-{{ oseba.id }}"/>#}
{#              <label for="oseba-{{ oseba.id }}">{{ oseba.ime }} <strong>{{ oseba.priimek }}</strong></label>#}
{#            {% else %}#}
{#              <a href="{% url 'urnik_osebe' oseba.id %}">#}
{#                {{ oseba.ime }} <strong>{{ oseba.priimek }}</strong>#}
{#              </a>#}
{#            {% endif %}#}
{#          </td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#      </tbody>#}
{#    </table>#}
{#  </div>  <!-- osebe -->#}
</div> <!-- row -->
</div> <!-- container -->
</form>
{% endblock content %}