% rebase('osnova.tpl')

% min_ura, max_ura = 7, 20
% enota_visine = 1 / (max_ura - min_ura)
% dnevi = ('ponedeljek', 'torek', 'sreda', 'četrtek', 'petek')
% enota_sirine = 1 / len(dnevi)

<div id="urnik" class="cel">
<div id="dnevi">
    % for indeks_dneva, dan in enumerate(dnevi):
    % left = indeks_dneva * enota_sirine
    % style = 'left: {:.2%}'.format(left)
    <div class="dan" style="{{ style }}">
        {{dan}}
    </div>
    % end
</div>
<div id="ure">
    % for ura in range(min_ura, max_ura):
    % bottom = (max_ura - ura) * enota_visine
    % style = 'bottom: {:.2%}'.format(bottom)
    <div class="ura" style="{{ style }}">
        <span>{{ura if ura >= min_ura else ''}}</span>
    </div>
    % end
</div>
<div id="srecanja">
    % for srecanje in srecanja:
    % left = (srecanje['dan'] - 1 + srecanje['zamik']) * enota_sirine
    % top = (srecanje['ura'] - min_ura) * enota_visine
    % height = srecanje['trajanje'] * enota_visine
    % width = srecanje['sirina'] * enota_sirine
    % style = 'left: {:.2%}; width: {:.2%}; top: {:.2%}; height: {:.2%}'.format(left, width, top, height)
    <div class="srecanje" style="{{ style }};">
        <div class="predmet">
            <a href="/predmet/{{srecanje['predmet']['id']}}/">{{srecanje['predmet']['ime'] if (srecanje['sirina'] >= 0.5 and len(srecanje['predmet']['ime']) < 45 and srecanje['trajanje'] > 1) or srecanje['sirina'] == 1 else srecanje['predmet']['kratica']}}</a>
            <span class="tip">
                 {{srecanje['tip']}}{{srecanje['oznaka'] if srecanje['oznaka'] else ''}}
            </span>
        </div>
        <div class="ucitelj">
            <a href="/oseba/{{srecanje['ucitelj']['id']}}/">{{srecanje['ucitelj']['priimek']}}</a>
        </div>
        % if srecanje['sirina'] >= 0.5:
        <div class="ucilnica">
            <a href="/ucilnica/{{srecanje['ucilnica']['id']}}/">{{srecanje['ucilnica']['oznaka']}}</a>
        </div>
        % end
    </div>
    % end
</div>
</div>
