@page {
    size: A4 landscape;
    margin: 0mm;
}

body {
    font-size: 12px;
}

a {
    color: black;
}

.ura {
    border-bottom: solid 1px #bbb;
}

.dan {
    border-left: solid 1px #bbb;
}

.srecanje {
    border: 1px #ccc solid;
    overflow: hidden;
}

/* zgornja vrstica */
nav {
    background: white;
}

nav div.nav-wrapper *, #side-menu {
    display: none !important;
}

nav div.nav-wrapper #urnik-logo {
    display: block !important;
    color: #333;
    font-size: 24px;
    left: 0px;
    right: 0px;
}

nav div.nav-wrapper #urnik-logo i {
    display: none;
}

nav div.nav-wrapper ul.left, nav div.nav-wrapper ul.right, #side-menu, a.button-collapse, div.vertical-space {
    display: none;
}

.tedenski-pogled {
    display: none;
}

.urnik-wrapper {
    top: 30px;
}

/* ce je stranski meni odprt */
#side-menu, .sidenav-overlay, div.drag-target {
    display: none !IMPORTANT;
}
