/* general */
.padded {
    padding: 5px;
}
.vertical-space {
    height: 2000px;  /* allows zoom out on mobile */
}
/* navigation and such */
nav {
    background-color: #555;
}
#urnik-logo {
    white-space: nowrap;
}
@media only screen and (min-width: 600px) {
    nav a.button-collapse {
        display:none;
    }
}
.dropdown-content li > a {
    color: #039be5;
}
.dropdown-content li.disabled, .dropdown-content li.disabled > a {
    color: #5e5e5e;
    cursor: default;
}
/* urnik */
.urnik-wrapper {
    position: absolute;
    min-width: 1024px;
    min-height: 600px;
    max-width: 1200px;
    max-height: 1000px;
    top: 64px;
    bottom: 0px;
    width: 100%;
}
#urnik.cel {
    position: absolute;
    left: 2.5%;
    top: 2.5%;
    width: 95%;
    height: 95%;
    background: white;
}
#urnik {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 95%;
    height: 100%;
    background: white;
}
#informacije {
    position: absolute;
    left: 82%;
    top: 0%;
    width: 18%;
    height: 100%;
    background: #fff;  
    overflow-y: scroll;
}
#dnevi {
    position: absolute;
    left: 3%;
    top: 0%;
    width: 97%;
    height: 100%;
    color: #333;
}
#ure {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 100%;
    height: 95%;
    color: #333;
}
#srecanja {
    position: absolute;
    left: 3%;
    top: 5%;
    width: 97%;
    height: 95%;
}
.ura {
    position: absolute;
    border-bottom: solid 1px #eee;
    width: 100%;
}
.ura span {
    width: 3%;
    text-align: right;
    position: relative;
    display: block;
    bottom: -1.5em;
    padding-right: 0.25em;
}
.dan {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    border-left: solid 1px #eee;
    width: 20%;
}
.srecanje {
    background: #eee;
    border: solid 1pt white;
    position: absolute;
    padding: 2pt;
}
.srecanje a {
    color: #333;
}
.srecanje a:hover, .urejanje a {
    color: #039be5;
}
#informacije .srecanje {
    position: relative;
    height: 4em;
}
a.skrita {
    color: #555;
}
.ucitelj, .ucilnica, .tip {
    color: #555;
    font-weight: normal;
}
.letniki {
    font-size: 0.8em;
}
.ucitelj, .ucilnica {
    font-size: 0.8em;
    position: absolute;
    bottom: 4pt;
    z-index: 10;
}
.ucilnica {
    right: 4pt;
}
.termin {
    position: absolute;
    /*opacity: 0.6;*/
}
.termin:hover {
    /*opacity: 0.8;*/
}
.legenda {
    text-align: center;
}
.termin button {
    border-style: none;
    width: 100%;
    height: 100%;
}
.predmet {
    font-size: 0.9em;
    font-weight: bold;
}
.zaseden {
    background: rgba(255, 0, 0, 0.5);
}
.prosto {
    background: rgba(0, 128, 0, 0.5);
}
.proste_alternative {
    background: rgba(255, 165, 0, 0.5);
}
.deloma {
    background: repeating-linear-gradient(
      -45deg,
      rgba(0, 128, 0, 0.5),
      rgba(0, 128, 0, 0.5) 50%,
      rgba(255, 0, 0, 0.5) 50%,
      rgba(255, 0, 0, 0.5) 100%
    );
}
.proste_le_alternative {
    background: repeating-linear-gradient(
      -45deg,
      rgba(255, 165, 0, 0.5),
      rgba(255, 165, 0, 0.5) 50%,
      rgba(0, 128, 0, 0.5) 50%,
      rgba(0, 128, 0, 0.5) 100%
    );
}
.deloma_proste_alternative {
    background: repeating-linear-gradient(
      -45deg,
      rgba(255, 165, 0, 0.5),
      rgba(255, 165, 0, 0.5) 50%,
      rgba(255, 0, 0, 0.5) 50%,
      rgba(255, 0, 0, 0.5) 100%
    );
}
.vse_mogoce {
    background: repeating-linear-gradient(
      -45deg,
      rgba(255, 165, 0, 0.5),
      rgba(255, 165, 0, 0.5) 33%,
      rgba(255, 0, 0, 0.5) 33%,
      rgba(255, 0, 0, 0.5) 66%,
      rgba(0, 128, 0, 0.5) 100%,
      rgba(0, 128, 0, 0.5) 100%
    );
}
.mozne_ucilnice {
    visibility: hidden;
    position: absolute;
    left: 20px;
    /*height: 0;*/
    background: white;
    z-index: 100;
    width: 200px;
}
.premakni_srecanje:hover .mozne_ucilnice {
    visibility: visible;
}
.urejanje {
    position: absolute;
    visibility: hidden;
    /*top: 100%;*/
    left: 100%;
    width: 100px;
    top: 0;
    background: white;
    /*height: 100%;*/
    z-index: 100;
}
.urejanje a {
    display: block;
}
#informacije .urejanje {
    left: 0;
    width: 100px;
    top: 100%;
    background: white;
    /*height: 100%;*/
    z-index: 100;
}
.srecanje:hover {
/*            width: 20% !important;
    z-index: 100;
    background: #ddd;
*/        }
.srecanje:hover .urejanje {
    visibility: visible;
}
.urejanje form {
    /*display: inline;*/
}
.urejanje button {
    border-style: none;
    display: inline;
    background: none;
    padding: 0;
    color: rgb(3, 155, 229);
}
.termin:hover .izbira_ucilnice {
    position: relative;
    visibility: visible;
    z-index: 1000000 !important;
}
.izbira_ucilnice {
    position: absolute;
    visibility: hidden;
}
.izbrana_ucilnica {
    float: left;
    width: 25%;
}
.ustrezna.deloma_prosta button, .ustrezna.deloma_prosta {
    background: repeating-linear-gradient(
      -45deg,
      rgba(0, 128, 0, 1),
      rgba(0, 128, 0, 1) 50%,
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 1) 100%
    );
}
.ustrezna.zasedena button, .ustrezna.zasedena {
    background: red;
}
.ustrezna.prosta button, .ustrezna.prosta {
    background: green;
}
.alternativa.deloma_prosta button, .alternativa.deloma_prosta {
    background: repeating-linear-gradient(
      -45deg,
      orange,
      orange 50%,
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 1) 100%
    );
}
.alternativa.zasedena button, .alternativa.zasedena {
    background: red;
}
.alternativa.prosta button, .alternativa.prosta {
    background: orange;
}
/* front page */
.oznaci-vec {
    position: relative;
    float: right;
    font-weight: normal;
}
.oznaci-vec > a, .oznaci-vec > button {
    position: absolute;
    right: 0px;
    top: 6px;
    white-space: nowrap;
}
.oznaci-vec > a > i.material-icons, .oznaci-vec > button > i.material-icons {
    margin-right: 5px;
}

/* print */
@media print {
    a {
        color: black;
    }
    #domov {
        display: none;
    }
    .srecanje {
        background: #eee;
        border: solid 1.5px white;
    }
    .brand-logo {
        color: black !important;
    }
    .brand-logo i {
        display: none !important;
    }
    nav {
        background: white;
    }
}